* {
    box-sizing: border-box;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: auto;
    border-radius: 40px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 27px;
    margin-bottom: 48px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

body {
    margin: 0px;
}

#subject p {
    color: #E5E7Eb;
}

.intro {
    display: flex;
    gap: 17px;
    justify-content: space-around;
    padding: 20px;
}

#face {
    width: 500px;
}

#subject {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top,.footer {
    background-color: #1f2937;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

button {
    color: white;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    width: 70px;
    border-radius: 5px;
}

p {
    color: #000000;
}

.god {
    height: 300px;
    width: 250px;
    border: 2px solid rgb(143, 143, 143);
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.box p {
    max-width: 240px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.quote {
    background-color: #E5E7Eb;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.proverb {
    align-self: center;
}

.author {
    align-self: flex-end;
    margin-right: 18px;
}

.interaction {
    background-color: #3882F6;
    margin: 70px 90px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.sub-info {
    color: #E5E7Eb;
}

.interaction button {
    border-radius: 5px;
    border-color: white;
}

.footer {
    color: #E5E7Eb;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}